* {
  color: white;
}

.box {
    /* Dimensions du contenu */
    width: 300px;
    height: 200px;
    
    /* Espace interne */
    padding: 20px;
    
    /* Bordure */
    border: 2px solid rgb(41, 195, 43);
    
    /* Espace externe */
    margin: 30px;
  }
  .box2 {
    /* Dimensions du contenu */
    width: 300px;
    height: 230px;
    
    /* Espace interne */
    padding: 20px;
    
    /* Bordure */
    border: 2px solid rgb(41, 85, 195);
    
    /* Espace externe */
    margin: 30px;
  }
  .box3 {
    /* Dimensions du contenu */
  width: 300px;
  height:295px;   
    /* Espace interne */
    padding: 20px;
    
    /* Bordure */
    border: 2px solid rgb(195, 41, 175);
    
    /* Espace externe */
    margin: 30px;
  }
.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#motivation {
display: flex;
flex-direction : column;
align-items: center;
}