* {
  color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url('thumb-1920-83970.jpg');
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
#motivation {
  display: flex;
  flex-direction : column;
  align-items: center;
}

#parcours {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cv-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  /* Dimensions du contenu */
  width: 300px;
    
  /* Espace interne */
  padding: 20px;
    
  /* Bordure */
  border: 2px solid rgb(41, 195, 43);
    
  /* Espace externe */
  margin: 30px;
}

.box2 {
  /* Dimensions du contenu */
  width: 300px;
    
  /* Espace interne */
  padding: 20px;
    
  /* Bordure */
  border: 2px solid rgb(41, 85, 195);
    
  /* Espace externe */
  margin: 30px;
}

.box3 {
  /* Dimensions du contenu */
  width: 300px;
  /* Espace interne */
  padding: 20px;
    
  /* Bordure */
  border: 2px solid rgb(195, 41, 175);
    
  /* Espace externe */
  margin: 30px;
}

.cv {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travail {
  border: red solid 2px;
  padding: 20px;
  text-align: center;
}
.boulot {
 border: orange solid 2px;
 padding: 20px;
 text-align: center;
}

.job {
 border: yellow solid 2px;
 padding: 20px;
 text-align: center;
}

/* On fait en sorte que chaque élément contienne sa marge interne avec box-sizing et on retire les traits qui sont par défaut sur les liens */
* {
  box-sizing: border-box;
  text-decoration: none;
}

/* On modernise notre balise de navigation avec une petite ombre. On mets tous les éléments du menu les uns bien à côté des autres avec flexbox (display: flex) */
nav {
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

/* On stylise chaque élément */
.nav-item {
  color: #83818c;
  font-family: arial, sans-serif;
  padding: 20px;
  margin: 0 6px;
  position: relative;
}

/* Ici on met juste un petit élément avant chaque élément pour le rendre plus beau visuellement */
.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  background-color: #dfe2ea;
  height: 5px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  left: 0;
  transition: .3s;
}

/* Avec les dernières nouveautés de CSS, on peut changer les propriétés des éléments selon des conditions avec not */
.nav-item:not(.is-active):hover:before {
  bottom: 0;
}
.nav-item:not(.is-active):hover {
  color: #333;
}

/* Stylisons notre indicateur */
.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: .4s;
  border-radius: 8px 8px 0 0;
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #6e1541;
  color: #310a32;
}